body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Make the body take up the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}

.controls {
    text-align: center;
    margin: 10px 0;
}

.search-container {
    position: relative;
    display: inline-block;
}

#searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 20px;
    display: none; /* Hide by default */
    z-index: 1; /* Ensure it appears above the input */
}

.clear-button:hover {
    color: #666;
}

/* Show the clear button when input has text */
input[type="text"]:not(:placeholder-shown) + .clear-button {
    display: block;
}

/* Hide the dropdown triangle */
input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#viewAllButton {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#viewAllButton:hover {
    background-color: #218838;
}

#map {
    height: 70vh;
    width: 90%;
    max-width: 1200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}