<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechMap Albania</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <h1>TechMap Albania</h1>
    <div class="controls">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search for companies..." list="companyNames">
            <span id="clearSearch" class="clear-button">&times;</span>
            <div id="customDropdown" class="custom-dropdown"></div>
        </div>
        <datalist id="companyNames"></datalist>
        <button id="searchButton">Search</button>
        <button id="suggestButton">Suggest a Company</button>
    </div>

    <!-- The Map -->
    <div id="map"></div>

    <!-- Modal for Suggest a Company -->
    <div id="suggestModal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2>Suggest a Company</h2>
            <form id="suggestForm">
                <label for="companyName">Company Name:</label>
                <input type="text" id="companyName" name="companyName" required>

                <label for="companyWebsite">Website (optional):</label>
                <input type="url" id="companyWebsite" name="companyWebsite" placeholder="https://example.com">

                <label for="companyAddress">Google Maps Address:</label>
                <input type="url" id="companyAddress" name="companyAddress" required placeholder="https://www.google.com/maps/place/...">

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Bottom Footer -->
    <footer>
        Created with ❤️ by <a href="https://www.linkedin.com/in/mateo1mc" target="_blank">Mateo Ç.</a> - <span id="currentYear"></span>
    </footer>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>